// *************************************
//
//   #SPACING
//
// *************************************

// Margin and padding helper classes. Use these to tweak layout on a micro
// level.
//
// `.(m|p)(t|r|b|l|h|v)(-|+|0) {}` = margin/padding top/right/bottom/left/horizontal/vertical less/more/none

// Predefine the variables below in order to alter and enable specific features.
$tree-spacing-namespace:                 $tree-namespace !default;

$tree-margin:                            $tree-base-spacing-unit !default;
$tree-margin--tiny:                        quarter($tree-margin) !default;
$tree-margin--small:                         halve($tree-margin) !default;
$tree-margin--large:                        double($tree-margin) !default;
$tree-margin--huge:                      quadruple($tree-margin) !default;

$tree-padding:                           $tree-base-spacing-unit !default;
$tree-padding--tiny:                       quarter($tree-padding) !default;
$tree-padding--small:                        halve($tree-padding) !default;
$tree-padding--large:                       double($tree-padding) !default;
$tree-padding--huge:                     quadruple($tree-padding) !default;


$tree-enable-margins:                    false !default;
$tree-enable-margins--tiny:              false !default;
$tree-enable-margins--small:             false !default;
$tree-enable-margins--large:             false !default;
$tree-enable-margins--huge:              false !default;

$tree-enable-margins--negative:          false !default;
$tree-enable-margins--negative-tiny:     false !default;
$tree-enable-margins--negative-small:    false !default;
$tree-enable-margins--negative-large:    false !default;
$tree-enable-margins--negative-huge:     false !default;

$tree-enable-margins--none:              false !default;

$tree-enable-paddings:                   false !default;
$tree-enable-paddings--tiny:             false !default;
$tree-enable-paddings--small:            false !default;
$tree-enable-paddings--large:            false !default;
$tree-enable-paddings--huge:             false !default;

$tree-enable-paddings--none:             false !default;





@if ($tree-enable-margins == true) {

    // Margin helper classes.
    //
    // Add margins.

    .#{$tree-spacing-namespace}m       { margin:           $tree-margin !important; }
    .#{$tree-spacing-namespace}mt      { margin-top:       $tree-margin !important; }
    .#{$tree-spacing-namespace}mr      { margin-right:     $tree-margin !important; }
    .#{$tree-spacing-namespace}mb      { margin-bottom:    $tree-margin !important; }
    .#{$tree-spacing-namespace}ml      { margin-left:      $tree-margin !important; }
    .#{$tree-spacing-namespace}mh      { margin-right:     $tree-margin !important; margin-left:      $tree-margin !important; }
    .#{$tree-spacing-namespace}mv      { margin-top:       $tree-margin !important; margin-bottom:    $tree-margin !important; }

}


@if ($tree-enable-margins--tiny == true) {

    // Add tiny margins.

    .#{$tree-spacing-namespace}m--     { margin:           $tree-margin--tiny !important; }
    .#{$tree-spacing-namespace}mt--    { margin-top:       $tree-margin--tiny !important; }
    .#{$tree-spacing-namespace}mr--    { margin-right:     $tree-margin--tiny !important; }
    .#{$tree-spacing-namespace}mb--    { margin-bottom:    $tree-margin--tiny !important; }
    .#{$tree-spacing-namespace}ml--    { margin-left:      $tree-margin--tiny !important; }
    .#{$tree-spacing-namespace}mh--    { margin-right:     $tree-margin--tiny !important; margin-left:      $tree-margin--tiny !important; }
    .#{$tree-spacing-namespace}mv--    { margin-top:       $tree-margin--tiny !important; margin-bottom:    $tree-margin--tiny !important; }

}


@if ($tree-enable-margins--small == true) {

    // Add small margins.

    .#{$tree-spacing-namespace}m-      { margin:           $tree-margin--small !important; }
    .#{$tree-spacing-namespace}mt-     { margin-top:       $tree-margin--small !important; }
    .#{$tree-spacing-namespace}mr-     { margin-right:     $tree-margin--small !important; }
    .#{$tree-spacing-namespace}mb-     { margin-bottom:    $tree-margin--small !important; }
    .#{$tree-spacing-namespace}ml-     { margin-left:      $tree-margin--small !important; }
    .#{$tree-spacing-namespace}mh-     { margin-right:     $tree-margin--small !important; margin-left:      $tree-margin--small !important; }
    .#{$tree-spacing-namespace}mv-     { margin-top:       $tree-margin--small !important; margin-bottom:    $tree-margin--small !important; }

}


@if ($tree-enable-margins--large == true) {

    // Add large margins.

    .#{$tree-spacing-namespace}m\+     { margin:           $tree-margin--large !important; }
    .#{$tree-spacing-namespace}mt\+    { margin-top:       $tree-margin--large !important; }
    .#{$tree-spacing-namespace}mr\+    { margin-right:     $tree-margin--large !important; }
    .#{$tree-spacing-namespace}mb\+    { margin-bottom:    $tree-margin--large !important; }
    .#{$tree-spacing-namespace}ml\+    { margin-left:      $tree-margin--large !important; }
    .#{$tree-spacing-namespace}mh\+    { margin-right:     $tree-margin--large !important; margin-left:      $tree-margin--large !important; }
    .#{$tree-spacing-namespace}mv\+    { margin-top:       $tree-margin--large !important; margin-bottom:    $tree-margin--large !important; }

}


@if ($tree-enable-margins--huge == true) {

    // Add huge margins.

    .#{$tree-spacing-namespace}m\+\+   { margin:           $tree-margin--huge !important; }
    .#{$tree-spacing-namespace}mt\+\+  { margin-top:       $tree-margin--huge !important; }
    .#{$tree-spacing-namespace}mr\+\+  { margin-right:     $tree-margin--huge !important; }
    .#{$tree-spacing-namespace}mb\+\+  { margin-bottom:    $tree-margin--huge !important; }
    .#{$tree-spacing-namespace}ml\+\+  { margin-left:      $tree-margin--huge !important; }
    .#{$tree-spacing-namespace}mh\+\+  { margin-right:     $tree-margin--huge !important; margin-left:      $tree-margin--huge !important; }
    .#{$tree-spacing-namespace}mv\+\+  { margin-top:       $tree-margin--huge !important; margin-bottom:    $tree-margin--huge !important; }

}


@if ($tree-enable-margins--none == true) {

    // Remove margins.

    .#{$tree-spacing-namespace}m0      { margin:           0 !important; }
    .#{$tree-spacing-namespace}mt0     { margin-top:       0 !important; }
    .#{$tree-spacing-namespace}mr0     { margin-right:     0 !important; }
    .#{$tree-spacing-namespace}mb0     { margin-bottom:    0 !important; }
    .#{$tree-spacing-namespace}ml0     { margin-left:      0 !important; }
    .#{$tree-spacing-namespace}mh0     { margin-right:     0 !important; margin-left:      0 !important; }
    .#{$tree-spacing-namespace}mv0     { margin-top:       0 !important; margin-bottom:    0 !important; }

}


@if ($tree-enable-margins--negative == true) {

    // Negative margins.

    .#{$tree-spacing-namespace}-m      { margin:           -$tree-margin !important; }
    .#{$tree-spacing-namespace}-mt     { margin-top:       -$tree-margin !important; }
    .#{$tree-spacing-namespace}-mr     { margin-right:     -$tree-margin !important; }
    .#{$tree-spacing-namespace}-mb     { margin-bottom:    -$tree-margin !important; }
    .#{$tree-spacing-namespace}-ml     { margin-left:      -$tree-margin !important; }
    .#{$tree-spacing-namespace}-mh     { margin-right:     -$tree-margin !important; margin-left:      -$tree-margin !important; }
    .#{$tree-spacing-namespace}-mv     { margin-top:       -$tree-margin !important; margin-bottom:    -$tree-margin !important; }

}


@if ($tree-enable-margins--negative-tiny == true) {

    // Tiny negative margins.

    .#{$tree-spacing-namespace}-m--    { margin:           -$tree-margin--tiny !important; }
    .#{$tree-spacing-namespace}-mt--   { margin-top:       -$tree-margin--tiny !important; }
    .#{$tree-spacing-namespace}-mr--   { margin-right:     -$tree-margin--tiny !important; }
    .#{$tree-spacing-namespace}-mb--   { margin-bottom:    -$tree-margin--tiny !important; }
    .#{$tree-spacing-namespace}-ml--   { margin-left:      -$tree-margin--tiny !important; }
    .#{$tree-spacing-namespace}-mh--   { margin-right:     -$tree-margin--tiny !important; margin-left:     -$tree-margin--tiny !important; }
    .#{$tree-spacing-namespace}-mv--   { margin-top:       -$tree-margin--tiny !important; margin-bottom:   -$tree-margin--tiny !important; }

}


@if ($tree-enable-margins--negative-small == true) {

    // Small negative margins.

    .#{$tree-spacing-namespace}-m-     { margin:           -$tree-margin--small !important; }
    .#{$tree-spacing-namespace}-mt-    { margin-top:       -$tree-margin--small !important; }
    .#{$tree-spacing-namespace}-mr-    { margin-right:     -$tree-margin--small !important; }
    .#{$tree-spacing-namespace}-mb-    { margin-bottom:    -$tree-margin--small !important; }
    .#{$tree-spacing-namespace}-ml-    { margin-left:      -$tree-margin--small !important; }
    .#{$tree-spacing-namespace}-mh-    { margin-right:     -$tree-margin--small !important; margin-left:      -$tree-margin--small !important; }
    .#{$tree-spacing-namespace}-mv-    { margin-top:       -$tree-margin--small !important; margin-bottom:    -$tree-margin--small !important; }

}


@if ($tree-enable-margins--negative-large == true) {

    // Large negative margins.

    .#{$tree-spacing-namespace}-m\+    { margin:           -$tree-margin--large !important; }
    .#{$tree-spacing-namespace}-mt\+   { margin-top:       -$tree-margin--large !important; }
    .#{$tree-spacing-namespace}-mr\+   { margin-right:     -$tree-margin--large !important; }
    .#{$tree-spacing-namespace}-mb\+   { margin-bottom:    -$tree-margin--large !important; }
    .#{$tree-spacing-namespace}-ml\+   { margin-left:      -$tree-margin--large !important; }
    .#{$tree-spacing-namespace}-mh\+   { margin-right:     -$tree-margin--large !important; margin-left:      -$tree-margin--large !important; }
    .#{$tree-spacing-namespace}-mv\+   { margin-top:       -$tree-margin--large !important; margin-bottom:    -$tree-margin--large !important; }

}


@if ($tree-enable-margins--negative-huge == true) {

    // Huge negative margins.

    .#{$tree-spacing-namespace}-m\+\+  { margin:           -$tree-margin--huge !important; }
    .#{$tree-spacing-namespace}-mt\+\+ { margin-top:       -$tree-margin--huge !important; }
    .#{$tree-spacing-namespace}-mr\+\+ { margin-right:     -$tree-margin--huge !important; }
    .#{$tree-spacing-namespace}-mb\+\+ { margin-bottom:    -$tree-margin--huge !important; }
    .#{$tree-spacing-namespace}-ml\+\+ { margin-left:      -$tree-margin--huge !important; }
    .#{$tree-spacing-namespace}-mh\+\+ { margin-right:     -$tree-margin--huge !important; margin-left:      -$tree-margin--huge !important; }
    .#{$tree-spacing-namespace}-mv\+\+ { margin-top:       -$tree-margin--huge !important; margin-bottom:    -$tree-margin--huge !important; }

}





@if ($tree-enable-paddings == true) {

    // Padding helper classes.
    //
    // Add paddings.

    .#{$tree-spacing-namespace}p       { padding:          $tree-padding !important; }
    .#{$tree-spacing-namespace}pt      { padding-top:      $tree-padding !important; }
    .#{$tree-spacing-namespace}pr      { padding-right:    $tree-padding !important; }
    .#{$tree-spacing-namespace}pb      { padding-bottom:   $tree-padding !important; }
    .#{$tree-spacing-namespace}pl      { padding-left:     $tree-padding !important; }
    .#{$tree-spacing-namespace}ph      { padding-right:    $tree-padding !important; padding-left:    $tree-padding !important; }
    .#{$tree-spacing-namespace}pv      { padding-top:      $tree-padding !important; padding-bottom:  $tree-padding !important; }

}


@if ($tree-enable-paddings--tiny == true) {

    // Add tiny paddings.

    .#{$tree-spacing-namespace}p--     { padding:           $tree-padding--tiny !important; }
    .#{$tree-spacing-namespace}pt--    { padding-top:       $tree-padding--tiny !important; }
    .#{$tree-spacing-namespace}pr--    { padding-right:     $tree-padding--tiny !important; }
    .#{$tree-spacing-namespace}pb--    { padding-bottom:    $tree-padding--tiny !important; }
    .#{$tree-spacing-namespace}pl--    { padding-left:      $tree-padding--tiny !important; }
    .#{$tree-spacing-namespace}ph--    { padding-right:     $tree-padding--tiny !important; padding-left:      $tree-padding--tiny !important; }
    .#{$tree-spacing-namespace}pv--    { padding-top:       $tree-padding--tiny !important; padding-bottom:    $tree-padding--tiny !important; }

}


@if ($tree-enable-paddings--small == true) {

    // Add small paddings.

    .#{$tree-spacing-namespace}p-      { padding:           $tree-padding--small !important; }
    .#{$tree-spacing-namespace}pt-     { padding-top:       $tree-padding--small !important; }
    .#{$tree-spacing-namespace}pr-     { padding-right:     $tree-padding--small !important; }
    .#{$tree-spacing-namespace}pb-     { padding-bottom:    $tree-padding--small !important; }
    .#{$tree-spacing-namespace}pl-     { padding-left:      $tree-padding--small !important; }
    .#{$tree-spacing-namespace}ph-     { padding-right:     $tree-padding--small !important; padding-left:      $tree-padding--small !important; }
    .#{$tree-spacing-namespace}pv-     { padding-top:       $tree-padding--small !important; padding-bottom:    $tree-padding--small !important; }

}


@if ($tree-enable-paddings--large == true) {

    // Add large paddings.

    .#{$tree-spacing-namespace}p\+     { padding:           $tree-padding--large !important; }
    .#{$tree-spacing-namespace}pt\+    { padding-top:       $tree-padding--large !important; }
    .#{$tree-spacing-namespace}pr\+    { padding-right:     $tree-padding--large !important; }
    .#{$tree-spacing-namespace}pb\+    { padding-bottom:    $tree-padding--large !important; }
    .#{$tree-spacing-namespace}pl\+    { padding-left:      $tree-padding--large !important; }
    .#{$tree-spacing-namespace}ph\+    { padding-right:     $tree-padding--large !important; padding-left:      $tree-padding--large !important; }
    .#{$tree-spacing-namespace}pv\+    { padding-top:       $tree-padding--large !important; padding-bottom:    $tree-padding--large !important; }

}


@if ($tree-enable-paddings--huge == true) {

    // Add huge paddings.

    .#{$tree-spacing-namespace}p\+\+   { padding:           $tree-padding--huge !important; }
    .#{$tree-spacing-namespace}pt\+\+  { padding-top:       $tree-padding--huge !important; }
    .#{$tree-spacing-namespace}pr\+\+  { padding-right:     $tree-padding--huge !important; }
    .#{$tree-spacing-namespace}pb\+\+  { padding-bottom:    $tree-padding--huge !important; }
    .#{$tree-spacing-namespace}pl\+\+  { padding-left:      $tree-padding--huge !important; }
    .#{$tree-spacing-namespace}ph\+\+  { padding-right:     $tree-padding--huge !important; padding-left:      $tree-padding--huge !important; }
    .#{$tree-spacing-namespace}pv\+\+  { padding-top:       $tree-padding--huge !important; padding-bottom:    $tree-padding--huge !important; }

}


@if ($tree-enable-paddings--none == true) {

    // Remove paddings.

    .#{$tree-spacing-namespace}p0      { padding:          0 !important; }
    .#{$tree-spacing-namespace}pt0     { padding-top:      0 !important; }
    .#{$tree-spacing-namespace}pr0     { padding-right:    0 !important; }
    .#{$tree-spacing-namespace}pb0     { padding-bottom:   0 !important; }
    .#{$tree-spacing-namespace}pl0     { padding-left:     0 !important; }
    .#{$tree-spacing-namespace}ph0     { padding-right:    0 !important; padding-left:     0 !important; }
    .#{$tree-spacing-namespace}pv0     { padding-top:      0 !important; padding-bottom:   0 !important; }

}
